.ql-container {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ql-toolbar {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ql-editor {
  color: #e9ecef;
  max-height: 150px;
}

.ql-editor.ql-blank::before {
  color: #e9ecef;
  opacity: 0.6;
  content: attr(data-placeholder);
  font-style: normal;
  pointer-events: none;
  position: absolute;
}

.ql-container.ql-snow {
  border: 1px solid #959595;
}

.ql-toolbar.ql-snow {
  border: 1px solid #959595;
  box-sizing: border-box;
  padding: 8px;
}

.ql-snow .ql-stroke {
  stroke: #e9ecef;
}
.ql-snow .ql-stroke-miter {
  stroke: #e9ecef;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #e9ecef;
}

.ql-snow .ql-picker .ql-picker-label {
  color: #e9ecef;
}

.ql-tooltip {
  z-index: 10 !important;
}

.ql-picker-options {
  z-index: 10 !important;
}

.mathquill4quill-mathquill-input {
  border: 1px solid #ccc;
  font-size: 13px;
  min-height: 26px;
  margin: 0;
  padding: 3px 5px;
  width: 170px;
}

.mathquill4quill-operator-button {
  margin: 5px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-color: #000;
  border-radius: 7px;
  border-width: 2px;
}

.mathquill4quill-operator-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mathquill4quill-history-button {
  overflow: hidden;
  margin: 5px;
  width: 270px;
  height: 65px;
  min-height: 60px;
  background-color: #fff;
  border-color: #000;
  border-radius: 7px;
  border-width: 2px;
  cursor: pointer;
  transition: background-color 0.3s linear;
  opacity: 1;
}

.mathquill4quill-history-button:hover {
  background-color: rgb(239, 240, 241);
  opacity: 0.7;
}

.mathquill4quill-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 150px !important;
  overflow: auto;
}

.mathquill4quill-latex-input {
  visibility: hidden !important;
  padding: 0 !important;
  border: 0 !important;
  width: 0 !important;
}

.ql-tooltip.ql-editing {
  left: unset !important;
}
