*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(196, 196, 196, 0.38);
  border-radius: 16px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

* {
  scrollbar-color: #547686 rgba(0, 0, 0, 0);
}

p > a {
  color: #03a9f4;
}

p > a:visited {
  color: #1e88e5;
}

.ql-formula img {
  max-height: 35px;
}

.MuiPickersCalendarHeader-daysHeader > span {
  color: #e4e6ea;
}

.MuiPickersModal-dialogRoot {
  background-color: #3a3b3b !important;
}

.MuiPickersModal-dialogRoot .MuiDialogActions-root button:first-child {
  color: #f54f47;
}

.MuiPickersModal-dialogRoot .MuiDialogActions-root button:nth-child(2) {
  color: white;
}

.MuiPickersModal-dialogRoot .MuiDialogActions-root button:nth-child(3) {
  background: linear-gradient(115.22deg, #94daf9 -9.12%, #1e88e5 90.34%);
  color: white;
}
