name: Lint check
on: [push]
jobs:
  build:
    name: Lint Runner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install prettier # will run `yarn install` command
      - uses: borales/actions-yarn@v2.3.0
        with:
          cmd: lint # will run `yarn lint` command
  build:
    name: Jest Test
    steps:
      - uses: borales/actions-yarn@v2.3.0
        with:
          cmd: test # will run `yarn test` command
